@import "../utility/variables.scss";
@import "../utility/mixins.scss";

.create{

        h2{
                font-weight: bold;
                color: $primary-color;
                padding-bottom: 5px;

                span{
                        color: black;
                }
        }

        label{
                font-weight: bold;
        }

        .visible{
            padding-bottom: 20px;
        }

        .check-container-1{
            padding-bottom: 20px;
        }

        .check-container-2{
            padding-bottom: 20px;
        }

        .btn{
                background-color: $primary-color;
        }
}



